# doconce files:
*.rst
*.ipynb
*.gwiki
*.cwiki
*.mwiki
automake_sphinx.py
.*_html_file_collection
.*.exerinfo
.*.copyright
sphinx-rootdir
Trash
papers.bib
# compiled files:
*.o
*.so
*.a
# temporary files:
*.pyc
*.bak
*.swp
*~
.*~
*.old
tmp*
temp*
.#*
\#*
# tex files:
*.aux
*.bbl
*.blg
*.log
*.dvi
*.idx
*.ilg
*.ind
*.loe
*.nav
*.out
*.toc
*.snm
*.vrb
#
# eclipse files:
*.cproject
*.project
# misc:
.DS_Store
Trash
*.pvd
*.vtu
*.tar.gz
